html {
    font-family: Jost, sans-serif;
    font-size: 62.5%;
    font-weight: 500;
    font-style: normal;
    line-height: 1;
    color: $text-1;
    box-sizing: border-box;
}
*, *:after, *:before{box-sizing: inherit;}
body {
    font-size: 1.8rem;
    min-width: 300px;
    min-height: 100vh;
    max-width: 100%;
    // background: linear-gradient(149deg, rgb(52, 160, 90) 20%, rgb(93, 55, 146) 42%, rgb(196, 204, 78) 72%, rgb(144, 38, 119) 100%) no-repeat center/cover fixed;
    background: linear-gradient(149deg, rgb(116, 177, 137) 20%, rgb(80, 129, 174) 42%, rgb(206, 133, 96) 72%, rgb(206, 206, 206) 100%) no-repeat center/cover fixed;
    will-change: background-position;
    animation: bg-gradient 10s infinite linear;
    background-size: 400%;
    margin: 0;
}
@keyframes bg-gradient {
    0% {
        background-position: 80% 0%;
    }
    50% {
        background-position: 20% 100%;
    }
    100% {
        background-position: 80% 0%;
    }
}
img {
    max-width: 100%;
    height: auto;
}
button {
    cursor: pointer;
    padding: 0;
}
input, textarea {
    font-family: inherit;
}
ul, ol {
    list-style: none;
    padding: 0;
    margin: 0;
}
a {
    color: inherit;
    text-decoration: none;
}
h1,
h2,
h3,
h4,
ul,
p,
figure,
figcaption,
fieldset {
    margin: 0;
}
iframe {
    border: none;
}
// .visually-hidden {
//     position: absolute !important;
//     clip: rect(1px 1px 1px 1px);
//     /* IE6, IE7 */
//     clip: rect(1px, 1px, 1px, 1px);
//     padding: 0 !important;
//     border: 0 !important;
//     height: 1px !important;
//     width: 1px !important;
//     overflow: hidden;
// }
.hidden {
    display: none;
}
.container {
    max-width: 1180px;
    margin: 0 auto;
    padding: 0 10px;
}
section {
    padding-top: 50px;
}
.btn {
    border: none;
    border-radius: 25px;
    color: $text-2;
    // background: linear-gradient(-149deg, rgb(144, 38, 119) 20%, rgb(196, 204, 78) 42%, rgb(93, 55, 146) 72%, rgb(52, 160, 90) 100%) no-repeat center/cover fixed;    animation: bg-gradient 10s infinite linear;
    background: linear-gradient(-149deg, rgb(116, 177, 137) 20%, rgb(80, 129, 174) 42%, rgb(206, 133, 96) 72%, rgb(206, 206, 206) 100%) no-repeat center/cover fixed;
    background-size: 400%;
    box-shadow: 2px 3px 10px $shadow;
    background-color: transparent;
    filter: drop-shadow(0 0 20px transparent);
    transition: color .4s ease, background .4s ease, drop-shadow .4s ease;
    &:hover {
        color: $text-1;
        background: $btn;
        filter: drop-shadow(0 0 20px $btn);
    }
}
h1, h2, h3, h4 {
    font-family: Playfair Display, serif;
    font-weight: 400;
}
@media (max-width: 1000px) {
    body {
        font-size: 1.6rem;
    }
    section {
        padding-top: 40px;
    }
}
