$text-1: rgb(255, 255, 255);
$text-2: rgb(40, 41, 48);
$header-bg: rgba(0, 0, 0, 0.4);
$shadow: rgb(0, 0, 0);
$btn: rgb(244, 173, 123);
$popular-bg: rgb(34, 35, 40);
$popular-stay: rgb(51, 52, 58);
$popular-hover: rgb(29, 29, 34);
