.bottom-baner {
    &__container {
        display: flex;
        justify-content: space-between;
    }
    &__wrapper {
        display: flex;
        flex-direction: column;
        gap: 20px;
        justify-content: space-between;
        padding: 20px 10px 20px 0;
    }
    &__title {
        font-size: 8rem;
    }
    &__subtitle {
        font-size: 4rem;
    }
    &__btn {
        padding: 30px 10px;
        max-width: 350px;
    }
    &__photo-wrapper {
        background-image: image-set(url('../images/baner/beauty_woman_2_1x.avif') 1x,
        url('../images/baner/beauty_woman_2_2x.avif') 2x,
        url('../images/baner/beauty_woman_2_1x.webp') 1x,
        url('../images/baner/beauty_woman_2_2x.webp') 2x,
        url('../images/baner/beauty_woman_2_1x.jpg') 1x,
        url('../images/baner/beauty_woman_2_2x.jpg') 2x);
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        box-shadow: 2px 3px 10px $shadow;
        min-width: 337px;
        min-height: 488px;
        border-radius: 170px;
    }
}
@media (max-width: 1200px) {
    .bottom-baner {
        &__title {
            font-size: 6rem;
        }

    }
}
@media (max-width: 800px) {
    .bottom-baner {
        &__title {
            font-size: 4.5rem;
        }
        &__subtitle {
            font-size: 3rem;
        }
        &__photo-wrapper {
            min-width: 298px;
            min-height: 430px;
            border-radius: 170px;
        }
    }
}
@media (max-width: 600px) {
    .bottom-baner {
        &__container {
            flex-direction: column;
            gap: 40px;
            align-items: center;
        }
        &__wrapper {
            padding: 0;
            gap: 20px;
            align-items: center;
        }
        &__title {
            font-size: 3.5rem;
        }
        &__subtitle {
            text-align: center;
            font-size: 2.5rem;
        }
        &__photo-wrapper {
            min-width: 250px;
            min-height: 360px;
            border-radius: 150px;
        }
    }
}
