.partners {
    &__container {
        text-align: center;
        min-height: 0;
    }
    &__title {
        font-size: 6rem;
        margin-bottom: 40px;
    }
    &__slider {
        &-item {
            align-items: center;
            display: flex;
            gap: 10px;
            padding: 20px 0;
            justify-content: center;
        }
        &-link {
            align-items: center;
            max-width: fit-content;
            border: 2px solid $shadow;
            line-height: 0;
            border-radius: 25px;
            overflow: hidden;
            transition: border-color .4 ease;
            &:hover {
                border-color: $btn;
            }
        }
    }
}

@media (max-width: 1200px) {
    .partners {
        &__title {
            font-size: 4.5rem;
        }
    }
}
@media (max-width: 1000px) {
    .partners {
        &__title {
            font-size: 3rem;
        }
    }
}
@media (max-width: 800px) {
    .partners {
        &__slider {
            &-item {
                flex-direction: column;
            }
            &-link {
                max-width: 265px;
                max-height: 265px;
            }
        }
    }
}
@media (max-width: 600px) {
    .partners {
        &__next {
            display: none;
        }
        &__prev {
            display: none;
        }
    }
}
